APP_ENV=dev
APP_SECRET=cambia-esta-clave-en-desarrollo
DEFAULT_URI=http://localhost:8080
DATABASE_URL="postgresql://app:!ChangeMe!@database:5432/app?serverVersion=16&charset=utf8"
POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
